<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<!-- Page Header -->
{{ block "header" .}}
<header class="intro-header">
    <div class="container">
        <div class="row"  style="background-image: url(/img/CRNAcover.jpg)">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h2>{{ .Site.Title}} </h2>
                    <!--<hr class="small">-->
		    <span class="subheading">{{ .Site.Params.slogan }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ block "main" . }}
Carter Riverside Neighborhood Association
Est. 1995
 
Carter Riverside Neighborhood Association (CRNA) appreciates your involvement and support in helping keep Riverside a great place to live!  We need you as an active part of CRNA!  Please join us this Thursday for our monthly meeting and see old and new friends and neighbors.  We have a great meeting planned and will have refreshments and the 50/50 raffle drawing as usual.  And we have a special $5 membership level to encourage membership renewals which are due each July (see details below). 
 
We need your support and attendance!  Please join us!
 

{{ end }}

{{ partial "footer.html" . }}
</body>
</html>
